<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
<style media="screen">
  body{
    background: #63738a;
  }
</style>

<div class="login-form">
  {% for message in messages %}

               <div class="alert alert-success">
                   <a class="close" href="{% url 'change_password' %}" data-dismiss="alert">×</a>

                   {{ message }}

               </div>
  {% endfor %}
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
        <h2 class="text-center">Change Password</h2>
        <div class="form-group">
          {{form.old_password}}
        </div>
        <div class="form-group">
          {{form.new_password1}}
        </div>
        <div class="form-group">
          {{form.new_password2}}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}
